
{
  "presets": [
    [
      "env", {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}

// {
//   "presets": [
//     "@babel/preset-env"
//   ],
//   "plugins": [
//     "@babel/plugin-proposal-object-rest-spread"
//   ]
// }
